# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db