<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DirectoryListing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{% static 'assets/manifest.json' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <style>
        .user-dropdown {
            min-width: 180px;
            font-size: 16px;
        }

        .user-dropdown .dropdown-item {
            padding: 12px 20px;
        }
    </style>
</head>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
     <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="{% url 'user:home' %}">Home</a></li>
                                    <li><a href="{% url 'user:turf_list' %}">Turfs</a></li>
                                   
                                    <li><a href="{% url 'user:contact' %}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header-btn -->
                        {% if user.is_authenticated %}

                        <div class="dropdown user-menu">

                            <a class="nav-link dropdown-toggle user-btn" href="#" data-toggle="dropdown">
                                <span class="user-icon">👤</span>
                                {{ user.username }}
                            </a>

                            <div class="dropdown-menu dropdown-menu-right user-dropdown">

                                <a class="dropdown-item" href="{% url 'user:profile' %}">
                                    👤 Profile
                                </a>

                                <a class="dropdown-item" href="{% url 'user:my_bookings' %}">
                                    🏟 My Bookings
                                </a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item logout-item" href="{% url 'user:user_logout' %}">
                                    🚪 Logout
                                </a>

                            </div>

                        </div>

                        {% else %}

                        <a href="{% url 'user:user_login' %}" class="btn btn-primary">Login</a>
                        <a href="{% url 'user:user_signup' %}" class="btn btn-success">Sign Up</a>

                        {% endif %}



                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? Hero Area Start-->
        <div class="slider-area hero-bg4 hero-overly">
            <div class="single-slider   slider-height2 d-flex align-items-end">
                <div class="container">
                    <div class="directory-details-head">
                        <section class="wantToWork-area">
                            <div class="wants-wrapper w-padding3">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-xl-8">
                                        <div class="details-cap d-flex">
                                            <div class="icon">
                                                <img src="{% static 'assets/img/gallery/categori_icon1.png' %}" alt="">
                                            </div>
                                            <div class="properties__caption">
                                                <h3>{{ turf.turf_name }}</h3>
                                                <p>{{ turf.location }}</p>

                                                <p>
                                                    Price: ₹ {{ turf.price_per_hour }} / hour
                                                </p>

                                                <p>
                                                    Open: {{ turf.opening_time }} - {{ turf.closing_time }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <!-- Directory Details start -->
        <div class="directory-details pt-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">

                        <div class="small-tittle mb-20">
                            <h2>{{ turf.turf_name }}</h2>
                        </div>
                        <div class="container mt-4">
    {% if turf.turf_image %}
        <img src="{{ turf.turf_image.url }}" class="img-fluid rounded shadow mb-4">
    {% endif %}
</div>


                        <p class="mb-2">
                            {{ turf.location }}
                        </p>

                        <p class="mb-3">
                            <strong>Price:</strong> ₹ {{ turf.price_per_hour }} / hour
                        </p>

                        <p class="mb-3">
                            <strong>Opening Time:</strong> {{ turf.opening_time }}
                            <br>
                            <strong>Closing Time:</strong> {{ turf.closing_time }}
                        </p>
                        
                        <div class="small-tittle mb-20">
                            <h2>Description</h2>
                        </div>

                        <p>
                            {{ turf.description }}
                        </p>

                        <div class="small-tittle mb-20">
                            <h2>Sports Available</h2>
                        </div>

                        {% for sport in turf.sports.all %}
                        <span class="badge badge-success mr-2">
                            {{ sport.name }}
                        </span>
                        {% endfor %}                    
                        
                            <div class="small-tittle mb-20 mt-4">
                                <h2>Reviews</h2>
                            </div>
                            <div class="mb-3">

                                <!-- Stars -->
                                <span style="font-size: 22px; color: gold;">
                                    {% for i in "12345" %}
                                    {% if forloop.counter <= avg_rating %} ★ {% else %} ☆ {% endif %} {% endfor %}
                                        </span>

                                        <!-- Rating + count -->
                                        <span style="font-size: 16px;">
                                            {{ avg_rating|floatformat:1 }} ({{ total_reviews }} reviews)
                                        </span>
                            </div>

                            {% for review in reviews %}

                            <div class="review-box mb-3">

                                <strong>{{ review.user.username }}</strong>

                                <p>
                                    {% for i in "12345" %}
                                    {% if forloop.counter <= review.rating %} ★ {% else %} ☆ {% endif %} {% endfor %}
                                        </p>

                                        <p>{{ review.comment }}</p>

                            </div>

                            {% empty %}

                            <p>No reviews yet.</p>

                            {% endfor %}
                            <hr>

                            <h4 class="mt-4">Write a Review</h4>
                            {% if not user_reviewed %}

                            <form method="POST" action="{% url 'user:add_review' turf.id %}">
                                {% csrf_token %}

                                <div class="form-group">
                                    <label></label>
                                    <div class="form-group">
                                        <label>Rating</label>

                                        <div id="star-rating" style="font-size: 28px; cursor: pointer;">
                                            <span data-value="1">☆</span>
                                            <span data-value="2">☆</span>
                                            <span data-value="3">☆</span>
                                            <span data-value="4">☆</span>
                                            <span data-value="5">☆</span>
                                        </div>

                                        <input type="hidden" name="rating" id="rating-value" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Comment</label>
                                    <textarea name="comment" class="form-control" rows="3" required></textarea>
                                </div>

                                <button type="submit" class="btn btn-primary mt-2">
                                    Submit Review
                                </button>
                            </form>
                            
                            <!-- show form -->
                            {% else %}
                            <p class="text-success">You already reviewed this turf ✅</p>
                            {% endif %}

                        

                    </div>
                    
                    <div class="col-lg-4">
                        <div class="form-wrapper pt-80">

                            <h3>Book This Turf</h3>

                            <p>
                                Price: ₹ {{ turf.price_per_hour }} / hour
                            </p>

                            <a href="{% url 'booking:book_turf' turf.id %}" class="btn">
                                Book Now
                            </a>

                        </div>
                        <div class="map mt-5">
    {% if turf.latitude and turf.longitude %}
    <iframe
        width="100%"
        height="300"
        style="border:0; border-radius:10px;"
        loading="lazy"
        allowfullscreen
        src="https://www.google.com/maps?q={{ turf.latitude }},{{ turf.longitude }}&output=embed">
    </iframe>
    {% else %}
    <p>Location not available</p>
    {% endif %}
</div>
                        
                    </div>

                </div>
            </div>
        </div>
        <!-- Directory Details End -->
        
    </main>
    <footer>
        <div class="footer-wrapper pt-30">
            <!-- footer-bottom -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-xl-10 col-lg-9 ">
                                <div class="footer-copy-right">
                                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        Copyright &copy;
                                        <script>document.write(new Date().getFullYear());</script> All rights reserved |
                                        This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                            href="https://colorlib.com" target="_blank">Colorlib</a>
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
    <!-- JS here -->

    <script src="{% static 'assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/animated.headline.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>

    <!-- Date Picker -->
    <script src="{% static 'assets/js/gijgo.min.js' %}"></script>
    <!-- Nice-select, sticky -->
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
    <!-- Progress -->
    <script src="{% static 'assets/js/jquery.barfiller.js' %}"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/hover-direction-snake.min.js' %}"></script>

    <!-- contact js -->
    <script src="{% static 'assets/js/contact.js' %}"></script>
    <script src="{% static 'assets/js/jquery.form.js' %}"></script>
    <script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'assets/js/mail-script.js' %}"></script>
    <script src="{% static 'assets/js/jquery.ajaxchimp.min.js' %}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script>
document.addEventListener("DOMContentLoaded", function () {

    const stars = document.querySelectorAll("#star-rating span");
    const ratingInput = document.getElementById("rating-value");

    stars.forEach((star) => {
        star.addEventListener("click", function () {
            const value = this.getAttribute("data-value");

            ratingInput.value = value; // 🔥 THIS WAS NOT WORKING BEFORE

            stars.forEach((s, index) => {
                if (index < value) {
                    s.textContent = "★";
                    s.style.color = "gold";
                } else {
                    s.textContent = "☆";
                    s.style.color = "black";
                }
            });
        });

        star.addEventListener("mouseover", function () {
            const value = this.getAttribute("data-value");

            stars.forEach((s, index) => {
                s.textContent = index < value ? "★" : "☆";
            });
        });

        star.addEventListener("mouseout", function () {
            const selected = ratingInput.value;

            stars.forEach((s, index) => {
                s.textContent = index < selected ? "★" : "☆";
            });
        });
    });

});
</script>


</body>

</html>